[submodule "newton-dynamics"]
	path = newton-sys/newton-dynamics
	url = https://github.com/germangb/newton-dynamics
[submodule "newton-sys/newton-dynamics"]
	path = newton-sys/newton-dynamics
	url = https://github.com/germangb/newton-dynamics.git
